body {
    min-width: 400px;
}

.row.row-cols-2 {
    gap: 10px 0;
}

.col {
    /* background-color: rgb(231, 242, 252); */
    padding: 5px;
    border-radius: 10px;
}

#element-1 {
    background: lightgray;
    height: 1000px;
    overflow: auto;
  }
  
  #element-2 {
    background: gray;
  }


/* .gabarito-<uniquifier> {
    font-family: "Gabarito", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */