body {
    min-width: 300px;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;

}

table th,
table td {
    background-color: rgb(231, 242, 252);
    padding: 20px;
    border-radius: 10px;
}

table th {
    font-weight: bold;
    color: #333;
}

table td {
    color: #666;
}


/* .gabarito-<uniquifier> {
    font-family: "Gabarito", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */