body {
    min-width: 400px;
}

.row.row-cols-2 {
    gap: 10px;
}

.row-cols-2 {
    width: 45%;
}

.row {
    align-items: center;
    justify-content: center;
}

.col {
    background-color: rgb(231, 242, 252);
    padding: 5px;
    border-radius: 10px;
}


/* .gabarito-<uniquifier> {
    font-family: "Gabarito", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */